<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Cartas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item href="#">
      <ion-label>Dragão Branco de Olhos Azuis</ion-label>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="add-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <p style="font-size:20px">1</p>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="remove-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <ion-icon name="arrow-forward" style="color:#DCDCDC"></ion-icon>
    </ion-item>



    <ion-item href="#">
      <ion-label>Black Luster Soldier</ion-label>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="add-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <p style="font-size:20px">1</p>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="remove-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <ion-icon name="arrow-forward" style="color:#DCDCDC"></ion-icon>
    </ion-item>

    <ion-item href="#">
      <ion-label>Maskered Hero</ion-label>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="add-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <p style="font-size:20px">1</p>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="remove-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <ion-icon name="arrow-forward" style="color:#DCDCDC"></ion-icon>
    </ion-item>

    <ion-item href="#">
      <ion-label>The Winged Dragon</ion-label>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="add-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <p style="font-size:20px">1</p>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="remove-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <ion-icon name="arrow-forward" style="color:#DCDCDC"></ion-icon>
    </ion-item>

    <ion-item href="#">
      <ion-label>Malefic Truth Dragon</ion-label>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="add-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <p style="font-size:20px">1</p>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="remove-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <ion-icon name="arrow-forward" style="color:#DCDCDC"></ion-icon>
    </ion-item>

    <ion-item href="#">
      <ion-label>Onda de Lu</ion-label>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="add-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <p style="font-size:20px">1</p>
      <ion-item-option (click)="unread(item)" color="white">
        <ion-icon name="remove-circle-outline" style="font-size:15px"></ion-icon>
      </ion-item-option>
      <ion-icon name="arrow-forward" style="color:#DCDCDC"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>


<!-- <ion-page class="ion-page" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>Header</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <h1>Main Content</h1>
    <p>Click the icon in the top left to toggle the menu.</p>
  </ion-content>
</ion-page>

<ion-menu-controller></ion-menu-controller> -->