<!DOCTYPE html>
<html>

<head>
  <title>Cartas</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<body>

  <div class="ui-g-12">
    <app-search-bar></app-search-bar>
  </div>


  <div class="Container">
    <div class="BoxCarta">
      <h3>Cartas</h3>
    </div>

    <div class="BoxPesquisa" style="padding-left: 10px">
      <p class="pPesquisa">Pesquisar</p>
      <p-autoComplete (completeMethod)="search($event) " placeholder="Nome da carta"></p-autoComplete>

      <div>
        <label>Browser Select</label>
        <select class="browser-default">

          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>

        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, options);
          });

          // Or with jQuery

          $(document).ready(function () {
            $('select').formSelect();
          });
        </script>
      </div>



      <div class="ui-g">
        <label>Browser Select</label>
        <select class="browser-default">

          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>

        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, options);
          });

          // Or with jQuery

          $(document).ready(function () {
            $('select').formSelect();
          });
        </script>
      </div>


      <div class="ui-g-12">
        <div class="ui-g-6">
          <input type="text" placeholder="ATK" pInputText />
        </div>
        <div class="ui-g-6">
          <p-checkbox name="group1" value="ATK" label="Ataque"></p-checkbox>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-6">
          <input type="text" placeholder="DEF" pInputText />
        </div>
        <div class="ui-g-6">
          <p-checkbox name="group1" value="DEF" label="Defesa"></p-checkbox>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-6">
          <input type="text" placeholder="LVL" pInputText />
        </div>
        <div class="ui-g-6">
          <p-checkbox name="group1" value="LVL" label="Level"></p-checkbox>
        </div>
      </div>

    </div>

    <div class="BoxTodasCartas">
      <p id="pNomeCarta">Nome da Carta</p>
      <div class="ImagemCarta">
        <img>
      </div>
    </div>

  </div>

</body>

</html>