<!DOCTYPE html>
<html>

<head>

  <title>Perfil</title>

</head>

<body>


  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" id="mySidebar">
    <button class="w3-bar-item w3-teal w3-large" onclick="w3_close()"> &#9776;</button>
    <a href="#" class="w3-bar-item w3-button">
      <i class=" material-icons" style="font-size:20px"> account_circle </i> Usuário</a>

    <a href="#" class="w3-bar-item w3-button">
      <i class=" material-icons" style="font-size:20px"> apps </i>Cartas</a>

    <a href="#" class="w3-bar-item w3-button">
      <i class=" material-icons" style="font-size:20px">filter_none</i>
      Decks</a>

    <a href="#" class="w3-bar-item w3-button">
      <i class=" material-icons" style="font-size:20px">star</i>Favoritos</a>
  </div>

  <div id="main">
    <div class="w3-teal">
      <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>

    </div>

  </div>

  <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.width = "10%";
      document.getElementById("mySidebar").style.display = "block";
      // document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      // document.getElementById("openNav").style.display = "inline-block";
    }
  </script>

  <!--
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-lighr" style="background-color:#ea9300">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>-->

  <div class="Container">
    <div class="BoxPerfil">
      <div class="BoxIcone">
        <i class=" material-icons" style="font-size: 220px"> account_circle </i>
      </div>

      <div class="BoxUser">
        <p class="pUser">USUÁRIO</p>
        <h1 class="h1User">Nome Usuário </h1>
        <p class="Adress">Coloca seu endereço aqui</p>
      </div>

      <div class="BoxPontos">
        <div class="BoxCartas">
          <p style="font-size:30px ">Cartas</p>
          <h3 style="font-size:50px ">0</h3>
        </div>

        <div class="BoxDecks">
          <p style="font-size:30px ">Decks</p>
          <h3 style="font-size:50px ">0</h3>
        </div>

        <div class="BoxFavoritos">
          <p style="font-size:30px ">Favoritos</p>
          <h3 style="font-size:50px ">0</h3>
        </div>
      </div>
    </div>

    <div class="ContainerDeck">
      <div class="VisuDeck">
        <h1>Decks</h1>
      </div>

      <div class="Deck1">
        <img>
      </div>

      <div class="Deck2">
        <img>
      </div>

      <div class="Deck3">
        <img>
      </div>

      <div class="Deck4">
        <img>
      </div>


    </div>



  </div>


</body>

</html>