.Container {
    width: 200vw;
    height: 100vh;
    background-color: #e6e6e6;
    display: flex;
}

.BoxPerfil {
    background-color: white;
    height: 400px;
    width: 2000px;
    padding-top: 80px;
    padding-left: 250px;
    display: flex;
}

.BoxIcone {
    /*background-color: burlywood;*/
    color: #713a87;
    width: 250px;
    height: 250px;
}

.BoxUser {
    /*background-color: bisque;*/
    width: 350px;
    height: 100px;
    padding-top: 50px;
    color: #713a87;
    position: relative;
    top: 50px;
    text-align: right;
}

.pUser {
    /*background-color: aquamarine;*/
    float: left;
    position: relative;
    bottom: 50px;
}

.h1User {
    position: relative;
    right: 108px;
}

.Adress {
    text-align: left;
    width: 800px;
}

.BoxPontos {
    /* background-color:rgb(242, 255, 62);*/
    width: 600px;
    height: 125px;
    position: relative;
    left: 140px;
    top: 40px;
}

.BoxCartas {
    /*background-color: darkmagenta;*/
    width: 100px;
    text-align: center;
    position: relative;
    color: #713a87;
}

.BoxDecks {
    /*  background-color: darkcyan;*/
    width: 100px;
    text-align: center;
    position: relative;
    bottom: 129px;
    left: 230px;
    color: #713a87;
}

.BoxFavoritos {
    /* background-color:darkgreen;*/
    width: 140px;
    text-align: center;
    position: relative;
    bottom: 258px;
    left: 460px;
    color: #713a87;
}

.VisuDeck {
    /* background-color: aqua;*/
    position: relative;
    top: 450px;
    right: 1800px;
    color: #713a87;
}

.Deck1 {
    background-color: #713a87;
    position: relative;
    top: 500px;
    right: 1800px;
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

.Deck2 {
    background-color: #713a87;
    position: relative;
    top: 300px;
    right: 1400px;
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

.Deck3{
    background-color: #713a87;
    position: relative;
    top: 100px;
    right: 1000px;
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

.Deck4{
    background-color: #713a87;
    position: relative;
    bottom: 100px;
    right: 600px;
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

