<div class="ui-g">
  <nav class=" navbar-dark bg-dark">


    <div class="ui-g-4">

      <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
        <h1 style="font-weight:normal">Left Sidebar</h1>
        <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
        <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button>
    </p-sidebar>
    <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-bars"></button>
    </div>


    <!--
  <nav class=" navbar-dark bg-dark">


    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
      <h1 style="font-weight:normal">Left Sidebar</h1>
      <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
      <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button>
  </p-sidebar>


    <div class="ui-g-4">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>

    </div>
    <div class="ui-g-3"></div>
    <div class="ui-g-1-offset-4">
      <a type="button" class="btn btn-dark" style="background-color:#713a87" href="/login">Login</a>
    </div>


  </nav>
-->
    <div class="ui-g-4">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>

    </div>
    <div class="ui-g-3"></div>
    <div class="ui-g-1-offset-4">
      <a type="button" class="btn btn-dark" style="background-color:#713a87" href="/login">Login</a>
    </div>


  </nav>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
  </div>
</div>