<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>YGO</title>

</head>

<body>
  <div class="Nav">
      <nav>
          <div class="nav-wrapper" style="background-color:#ea9300">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
           <!--<a class="waves-effect waves-light btn"  href ="\login" style="background-color:#713a87">Login</a> --> 
             <!-- <li><a href="collapsible.html">JavaScript</a></li>--> 
              <li><a href="\login">Login</a></li>  
            </ul>
          </div>
        </nav>
              
  </div>
  
      <div class="PaginaInicial">
        <p class="Titulo"> YU GI OH! CARDS </p>

        <br>

        <p class="TextoYGO" style="color:white">
          Foi criado com a intenção de auxiliar jogadores e
          <br> colecionadores de cartas do jogo,facilitando a organização
          <br> em relação as cartas já obtidas e as que faltam.
          <br>
          <br>
          <a class="waves-effect waves-light btn"  href ="#" style="background-color:#ea9300;color: white">Saiba mais</a>
          
        </p>

      </div>

</body>

</html>