<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>YGO</title>

</head>

<body>
  <div class="ui-g">
    <div class="ui-g-12">
      <app-search-bar></app-search-bar>
    </div>
    <div class="ui-g-12" style="background-color:#713a87">

      <div class="PaginaInicial">
        <p class="Titulo"> YU GI OH! CARDS </p>

        <br>

        <p class="TextoYGO" style="color:white">
          Foi criado com a intenção de auxiliar jogadores e
          <br> colecionadores de cartas do jogo,facilitando a organização
          <br> em relação as cartas já obtidas e as que faltam.
          <br>
          <br>
          <button type="button" class="btn btn-dark" style="background-color: #ea9300;">Saiba mais
          </button>
        </p>

      </div>
      <div class="ui-g-12">
        <div class="ui-g-4"></div>

        <div class="ui-g-1">
          <p-button style="color: #713a87" label="CARTAS" routerLink="/pag-cartas"></p-button>
        </div>
        <div class="ui-g-1">
          <p-button style="color: #713a87" label="DECKS" routerLink="/pag-decks"></p-button>
        </div>
        <div class="ui-g-1">
          <p-button style="color: #713a87" label="FAVORITOS" routerLink="/pag-favorito"></p-button>
        </div>
        <div class="ui-g-1">
          <p-button style="color: #713a87" label="LOCAL" routerLink="/pag-favorito"></p-button>

        </div>
      </div>
    </div>




  </div>
</body>

</html>