.PaginaInicial {
    text-align: center;
    position: relative;
    height: 400px;
    background-color: #713a87;
}

p.Titulo {
    font-weight: bold;
    font-size: 300%;
    color: white;
    position: relative;
    top: 100px;
}

p.TextoYGO {
    position: relative;
    top: 70px;
    color: white;
}

